@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
    font-family: 'Syne Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: white;
}

video {
    width: 5vw;
    height: 5vw;
    margin: 2rem;
    background: #2c3e50;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: left;
}